<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    #playground { border: 1px solid black }
</style>

<body>
  <h1>Welcome to my website</h1>
  <p>If you see this, the EJS template couldn't be rendered.</p>
    <div>
        <button id="buttonStart">
        Start Game
        </button>
    </div>
    <canvas width="1200" height="500" id="playground">
    </canvas>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>
